// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction


// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
	// Next sections include libinput settings.
	touchpad {
		tap
		accel-profile "flat"
		scroll-method "two-finger"
	}

	mouse {
		accel-profile "flat"
	}
}


// Device-specific display configuration
include "displays.kdl"


// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
	gaps 12
	center-focused-column "never"
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}

	 default-column-display "tabbed"

	tab-indicator {
		hide-when-single-tab
	}

	default-column-width { proportion 0.5; }

	focus-ring {
		off
	}

	border {
		width 1
		active-color "#676b6e"
		inactive-color "#4c5053"
		urgent-color "#9b0000"
	}

	shadow {
		on
		softness 30
		spread 5
		offset x=0 y=5
		color "#0007"
	}
}

spawn-at-startup    "waybar"
spawn-at-startup    "fcitx5"
spawn-at-startup    "kwalletd6"
spawn-sh-at-startup "sleep 10 && kded6" // Wait a little bit before starting kded because it will override the system tray otherwise
spawn-at-startup    "dolphin" "--daemon"
spawn-at-startup    "elephant"
spawn-sh-at-startup "sleep 2 && walker --gapplication-service"
// spawn-at-startup "cosmic-settings-daemon" // Makes bad changes to gsettings

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
	xcursor-theme "Notwaita-Black"
}

overview {
	backdrop-color "#383c3f"
}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
	slowdown 1.75
}

window-rule {
	match is-floating=true
	border {
		width 1
		active-color "#383c3f"
		inactive-color "#383c3f"
	}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
	// This app-id regular expression will work for both:
	// - host Firefox (app-id is "firefox")
	// - Flatpak Firefox (app-id is "org.mozilla.firefox")
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

window-rule {
	geometry-corner-radius 12
	clip-to-geometry true
}

hotkey-overlay {
	skip-at-startup
}

binds {
	// Keys consist of modifiers separated by + signs, followed by an XKB key name
	// in the end. To find an XKB name for a particular key, you may use a program
	// like wev.
	//
	// "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
	// when running as a winit window.
	//
	// Most actions that you can bind here can also be invoked programmatically with
	// `niri msg action do-something`.

	// Mod-Shift-/, which is usually the same as Mod-?,
	// shows a list of important hotkeys.
	Mod+Shift+Slash { show-hotkey-overlay; }

	Mod+T     hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
	Mod+Alt+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
	Mod+D     hotkey-overlay-title="Open Search: Walker" { spawn "walker"; }
	Mod+E     hotkey-overlay-title="Open a File Explorer: Dolphin" { spawn "dolphin" "--new-window"; }
	Mod+B     hotkey-overlay-title="Open a Web Browser: Firefox" { spawn "/usr/local/bin/flatpak" "run" "--branch=stable" "--arch=x86_64" "--command=firefox" "--file-forwarding" "org.mozilla.firefox" "--new-window"; }
	Mod+Alt+B hotkey-overlay-title="Open a Web Browser: Zen" { spawn "/usr/local/bin/flatpak" "run" "--branch=stable" "--arch=x86_64" "--file-forwarding" "app.zen_browser.zen" "--new-window"; }

	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute		   allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute	   allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

	XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

	XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

	Mod+O repeat=false { toggle-overview; }

	Mod+Q repeat=false { close-window; }

	Mod+Left  { focus-column-left; }
	Mod+Down  { focus-window-down; }
	Mod+Up	{ focus-window-up; }
	Mod+Right { focus-column-right; }

	Mod+Ctrl+Left  { move-column-left; }
	Mod+Ctrl+Down  { move-window-down; }
	Mod+Ctrl+Up	{ move-window-up; }
	Mod+Ctrl+Right { move-column-right; }

	Mod+Home { focus-column-first; }
	Mod+End  { focus-column-last; }
	Mod+Ctrl+Home { move-column-to-first; }
	Mod+Ctrl+End  { move-column-to-last; }

	Mod+Shift+Left  { focus-monitor-left; }
	Mod+Shift+Down  { focus-monitor-down; }
	Mod+Shift+Up	{ focus-monitor-up; }
	Mod+Shift+Right { focus-monitor-right; }

	Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
	Mod+Shift+Ctrl+Up	{ move-column-to-monitor-up; }
	Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

	Mod+Page_Down	  { focus-workspace-down; }
	Mod+Page_Up		{ focus-workspace-up; }
	Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
	Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

	Mod+Shift+Page_Down { move-workspace-down; }
	Mod+Shift+Page_Up   { move-workspace-up; }

	Mod+WheelScrollDown	  cooldown-ms=150 { focus-workspace-down; }
	Mod+WheelScrollUp		cooldown-ms=150 { focus-workspace-up; }
	Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

	Mod+WheelScrollRight	  { focus-column-right; }
	Mod+WheelScrollLeft	   { focus-column-left; }
	Mod+Ctrl+WheelScrollRight { move-column-right; }
	Mod+Ctrl+WheelScrollLeft  { move-column-left; }

	Mod+Shift+WheelScrollDown	  { focus-column-right; }
	Mod+Shift+WheelScrollUp		{ focus-column-left; }
	Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
	Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+Ctrl+1 { move-column-to-workspace 1; }
	Mod+Ctrl+2 { move-column-to-workspace 2; }
	Mod+Ctrl+3 { move-column-to-workspace 3; }
	Mod+Ctrl+4 { move-column-to-workspace 4; }
	Mod+Ctrl+5 { move-column-to-workspace 5; }
	Mod+Ctrl+6 { move-column-to-workspace 6; }
	Mod+Ctrl+7 { move-column-to-workspace 7; }
	Mod+Ctrl+8 { move-column-to-workspace 8; }
	Mod+Ctrl+9 { move-column-to-workspace 9; }

	// The following binds move the focused window in and out of a column.
	// If the window is alone, they will consume it into the nearby column to the side.
	// If the window is already in a column, they will expel it out.
	Mod+BracketLeft  { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }

	// Consume one window from the right to the bottom of the focused column.
	Mod+Comma  { consume-window-into-column; }
	// Expel the bottom window from the focused column to the right.
	Mod+Period { expel-window-from-column; }

	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-column-width-back; }
	Mod+Ctrl+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }
	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }

	// Expand the focused column to space not taken up by other fully visible columns.
	// Makes the column "fill the rest of the space".
	Mod+Ctrl+F { expand-column-to-available-width; }

	Mod+C { center-column; }

	Mod+Ctrl+C { center-visible-columns; }

	Mod+Minus { set-column-width "-10%"; }
	Mod+Equal { set-column-width "+10%"; }

	Mod+Shift+Minus { set-window-height "-10%"; }
	Mod+Shift+Equal { set-window-height "+10%"; }

	// Move the focused window between the floating and the tiling layout.
	Mod+V	   { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }

	// Toggle tabbed column display mode.
	// Windows in this column will appear as vertical tabs,
	// rather than stacked on top of each other.
	Mod+W { toggle-column-tabbed-display; }

	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	// Applications such as remote-desktop clients and software KVM switches may
	// request that niri stops processing the keyboard shortcuts defined here
	// so they may, for example, forward the key presses as-is to a remote machine.
	// It's a good idea to bind an escape hatch to toggle the inhibitor,
	// so a buggy application can't hold your session hostage.
	//
	// The allow-inhibiting=false property can be applied to other binds as well,
	// which ensures niri always processes them, even when an inhibitor is active.
	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	// The quit action will show a confirmation dialog to avoid accidental exits.
	Mod+Shift+E { quit; }
	Ctrl+Alt+Delete { quit; }

	// Powers off the monitors. To turn them back on, do any input like
	// moving the mouse or pressing any other key.
	Mod+Shift+P { power-off-monitors; }

	Mod+L hotkey-overlay-title="Lock the Screen and Sleep" { spawn-sh "swaylock & systemctl sleep"; }
	Mod+Shift+L hotkey-overlay-title="Lock the Screen" { spawn "swaylock"; }

	Pause { spawn-sh "playerctl play-pause"; }
}

gestures {
	hot-corners {
		off
	}
}
